<html ng-app="test-app">
  <head>
    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bignumber.js/bignumber.js"></script>
    <script src="../dist/bc-angular-models.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>User Model Test</h1>
    <h3>User Details</h3>
    <table>
      <thead>
        <tr>
          <td>Key</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Display Name: </td>
          <td>{{userAccount.displayName()}}</td>
        </tr>
        <tr>
          <td>Full Name: </td>
          <td>{{userAccount.fullName()}}</td>
        </tr>
        <tr>
          <td>Birth Date: </td>
          <td>{{userAccount.userDetails.displayDateOfBirth()}}</td>
        </tr>
        <tr>
          <td>Birth Month: </td>
          <td>{{userAccount.userDetails.month()}}</td>
        </tr>
        <tr>
          <td>Month With Number: </td>
          <td>{{userAccount.userDetails.monthPad()}}</td>
        </tr>
        <tr>
          <td>Birth Country: </td>
          <td>{{userAccount.userDetails.birthCountry}}</td>
        </tr>
        <tr>
          <td>Occupation: </td>
	  <td>{{userAccount.userDetails.occupation}}</td>
        </tr>
        <tr>
          <td>Identity Info: </td>
	  <td>{{userAccount.userDetails.displayIdType}} - {{userAccount.userDetails.idNumber}}</td>
        </tr>
        <tr>
          <td>Address: </td>
          <td>{{userAccount.userDetails.residencyAddress.toString()}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Account Resource</h3>
    <table>
      <thead>
        <tr>
          <td>Key</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Resource ID: </td>
          <td>{{userAccount.accountResources['11111111111111']._id}}</td>
        </tr>
        <tr>
          <td>Account ID: </td>
          <td>{{userAccount.accountResources['11111111111111'].accountId}}</td>
        </tr>
        <tr>
          <td>AWS Key: </td>
          <td>{{userAccount.accountResources['11111111111111'].awsKey}}</td>
        </tr>
        <tr>
          <td>Verification Type: </td>
          <td>{{userAccount.accountResources['11111111111111'].resourceInfo.verificationType | uppercase}}</td>
        </tr>
        <tr>
          <td>File Name: </td>
          <td>{{userAccount.accountResources['11111111111111'].resourceInfo.fileName}}</td>
        </tr>
        <tr>
          <td>Document Type: </td>
          <td>{{userAccount.accountResources['11111111111111'].resourceInfo.docType}}</td>
        </tr>
        <tr>
          <td>Document Status: </td>
          <td>{{userAccount.accountResources['11111111111111'].displayStatus}}</td>
        </tr>
        <tr>
          <td>Document Error Message: </td>
          <td>{{userAccount.accountResources['11111111111111'].displayErrorMessage}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Verification Info</h3>
    <strong>{{userAccount.displayVerificationStatus}}</strong>
    <br />

    <div ng-show="userAccount.idPending">ID Pending</div>
    <div ng-show="userAccount.idApproved">ID Approved</div>
    <div ng-show="userAccount.idDenied">ID Denied</div>
    <div ng-show="userAccount.residencyPending">Residency Pending</div>
    <div ng-show="userAccount.residencyApproved">Residency Approved</div>
    <div ng-show="userAccount.residencyDenied">Residency Denied</div>
    <br />
    <table>
      <tbody>
        <tr>
          <td><strong>Verified</strong></td>
          <td><strong>{{userAccount.verified}}</strong></td>
        </tr>
        <tr>
          <td><strong>Pending</strong></td>
	  <td><strong>{{userAccount.pending}}</strong></td>
        </tr>
        <tr>
          <td><strong>Denied</strong></td>
	  <td><strong>{{userAccount.denied}}</strong></td>
        </tr>
        <tr>
          <td><strong>Unverified</strong></td>
	  <td><strong>{{userAccount.unverified}}</strong></td>
        </tr>
      </tbody>
    </table>

    <h3>Appserver Error Message</h3>
    <table>
      <tbody>
        <tr>
          <td>Item Error Message: </td>
	  <td>{{itemErrorMessage.errors[0].toString()}}</td>
	</tr>
	  <td>Field Error Messages: </td>
          <td></td>
	</tr>
        <tr ng-repeat="error in fieldErrorMessage.errors">
          <td> -- {{error.errorFieldId}}</td>
          <td>{{error.toString()}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Node Server Error Message</h3>
    <table>
      <tbody>
        <tr>
          <td>Item Error Message: </td>
	  <td>{{nodeItemErrorMessage.errors[0].toString()}}</td>
        </tr>
        <tr>
	  <td>Field Error Messages: </td>
	  <td></td>
        </tr>
        <tr ng-repeat="error in nodeFieldErrorMessage.errors">
          <td> -- {{error.errorFieldId}}</td>
          <td>{{error.toString()}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Admin Roles</h3>
    <table>
      <tbody>
        <tr ng-repeat="role in allRoles">
          <td>Raw value: {{role.value}}</td>
          <td>--- {{role.displayRole}}</td>
        </tr>
        <tr>
          <td>Invalid value: {{invalidRoleValue}}</td>
          <td>--- {{invalidRole.displayRole}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Access Levels</h3>
    <table>
      <tbody>
        <tr ng-repeat="level in allAccessLevels">
          <td>Raw value: {{level.value}}</td>
          <td>--- {{level.displayAccessLevel}}</td>
          <td>--- {{level.displayAllowedRoles()}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Admin Account Info</h3>
    <table>
      <thead>
        <tr>
          <td>Key</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Display Name: </td>
          <td>{{adminAccount.displayName}}</td>
        </tr>
        <tr>
          <td>Full Name: </td>
	  <td>{{adminAccount.name.familyName}}, {{adminAccount.name.givenName}}</td>
        </tr>
        <tr>
          <td>Email: </td>
          <td>{{adminAccount.email}}</td>
        </tr>
        <tr>
          <td>Admin Role: </td>
          <td>{{adminAccount.displayRole}}</td>
        </tr>
      </tbody>
    </table>

    <h3>User Account Settings</h3>
    <table>
      <tbody>
        <tr>
          <td colspan="2"><strong>Security Settings</strong></td>
        </tr>
        <tr>
          <td>Fiat Withdrawal Confirmation: </td>
          <td>{{userAccount.accountSettings.security.fiatWithdrawalConfirmation}}</td>
        </tr>
        <tr>
          <td>Bitcoin Withdrawal Confirmation: </td>
	  <td>{{userAccount.accountSettings.security.btcWithdrawalConfirmation}}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Notifications Settings</strong></td>
        </tr>
        <tr>
          <td>Fiat Deposit Complete: </td>
          <td>{{userAccount.accountSettings.notifications.fiatDepositComplete}}</td>
        </tr>
        <tr>
          <td>Bitcoin Deposit Complete: </td>
          <td>{{userAccount.accountSettings.notifications.btcDepositComplete}}</td>
        </tr>
        <tr>
          <td>Bank Account Added: </td>
          <td>{{userAccount.accountSettings.notifications.bankAccountAdded}}</td>
        </tr>
        <tr>
          <td>Funds Withdrawn: </td>
          <td>{{userAccount.accountSettings.notifications.fundsWithdrawn}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Trade Fee</h3>
    <pre>{{tradeFee}}</pre>

    <h3>Order Info</h3>
    <ul>
      <li>ID: {{orderInfo.id}}</li>
      <li>type: {{orderInfo.orderType}}</li>
      <li>parity: {{orderInfo.parity}}</li>
      <li>status: {{orderInfo.status}}</li>
      <li>spent: {{orderInfo.spent}}</li>
      <li>earned: {{orderInfo.earned}}</li>
      <li>offered: {{orderInfo.offered}}</li>
      <li>getRemaining(): {{orderInfo.getRemaining()}}</li>
      <li>getPrice(): {{orderInfo.getPrice()}}</li>
      <li>createdAt: {{orderInfo.createdAt}}</li>
      <li>updatedAt: {{orderInfo.updatedAt}}</li>
    </ul>

    <h3>Market Info</h3>
    <ul>
      <li>Accepts message: {{marketInfo.acceptMessage(marketDepthMsg) != undefined}}</li>
      <li>Bids: {{marketInfo.bidLevels}}</li>
      <li>Asks: {{marketInfo.askLevels}}</li>
    </ul>

    <h3>TransactionLimit</h3>
    <ul>
      <li>Amount: {{transactionLimit.amount.toString()}}</li>
      <li>10x Amount: {{transactionLimit.amount.times(10).toString()}}</li>
      <li>Currency: {{transactionLimit.currency}}</li>
      <li>Time: {{transactionLimit.time}} {{transactionLimit.timeUnit}}</li>
      <li>User Status: {{transactionLimit.userStatus}}</li>
    </ul>

  </body>
</html>
